//Colors
.bg-primary-pers{
  background-color: $primaryColor;
}

.txt-light{
  color: $txtColorLight;
}

//buttons
.btn-primary-pers{
  background-color: $primaryColor;
  border-color: $primaryColorDark;
  color: $txtColorLight;
  &:hover,
  &:focus,
  &:active{
    background-color: $primaryColorDark !important;
    border-color: $primaryColorDark !important;
    color: $txtColorLight;
  }
  &:focus{
    box-shadow: 0 0 0 0.2rem rgb(117 47 49 / 25%);
  }
}
