main{
  padding: 10rem 0;

  height: 200vh;
  overflow-x: hidden
}

@import '_main-guests-posts-index.scss';
@import '_main-guests-posts-show.scss';
@import '_main-admin-posts-index.scss';
@import '_main-admin-posts-show.scss';
@import '_main-admin-posts-edit.scss';
@import '_main-welcome.scss';
@import '_main-offline.scss';
@import '_jumbo.scss';
