#main-admin-post-show{
  h1{
    color: $bordeauxPrimary;
    // text-shadow: 2px 2px 4px #000000;
    background-color: #fff;
    font-weight: 800;
    text-align: center;
  }

  .jumbo{
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -24px;
    // position: relative;
    .container{
      height: 100%;
    }
  }
  &.container{
    img{
      width: 100%;
    }
    p{
      text-align: justify;
    }
  }
}
